@use 'custom';
@use 'fixQiankun.scss';

/* Element UI 主题变量 */
$--color-primary: #3a77ff;
$--color-success: #0eb67f;
$--color-warning: #f5ab01;
$--color-danger: #ef6b53;
$--color-error: #db2828;

/* 使用变量定义主题颜色 */
:root {
  --el-color-primary: #{$--color-primary};
  --el-color-success: #{$--color-success};
  --el-color-warning: #{$--color-warning};
  --el-color-danger: #{$--color-danger};
  --el-color-error: #{$--color-error};
}
