:root {
  --el-border-radius-base: 8px;
  --el-table-border-color: #dcdfe6;
}

.el-card {
  --el-card-padding: 16px;
}

.el-button {
  font-family: SourceHanSans-Regular, serif;
}

//#region custom class
.bg-primary {
  background-color: var(--el-color-primary);
}

//#endregion
