//#region title
.blue-title {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  padding: 4px 0;
  display: flex;
  align-items: center;
  color: black;

  &::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 16px;
    background-color: var(--primary-color-2);
    border-radius: 2px;
    margin-right: 8px;
    vertical-align: middle;
  }
}

.radio-title {
  display: flex;
  align-items: center;

  .content {
    font-weight: 600;
  }

  .radio {
    line-height: 20px;
    font-size: 40px;
  }
}

//#endregion

.list {
  .list-item {
    display: flex;
    align-items: center;
    line-height: 40px;
    margin-right: 22px;
    white-space: nowrap;

    &.active {
      color: var(--el-color-primary);
    }

    .radio {
      line-height: 26px;
      font-size: 60px;
      visibility: hidden;
    }

    .visible {
      visibility: visible;
    }
  }
}

//#region custom style
:deep(.drawer-body-p0) {
  .el-drawer__body {
    padding: 0;
  }
}

.drawer-body-p0 {
  :deep(.el-drawer__body) {
    padding: 0;
  }
}

:deep(.groupbox) {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  .no-right-radius {
    .el-select__wrapper {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .no-left-radius {
    .el-select__wrapper,
    &.el-input__wrapper,
    .el-input__wrapper {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

:deep(.dialog-noscroll) {
  .el-overlay-dialog {
    overflow: hidden;
  }
}

.submit-btn {
  min-width: 80px;
  height: 28px;
}

.dialog-footer {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

//#endregion
