$el-colors: (
  'primary': (
    'base': #3a77ff,
  ),
  'success': (
    'base': #0eb67f,
  ),
  'warning': (
    'base': #f5ab01,
  ),
  'danger': (
    'base': #ef6b53,
  ),
  'error': (
    'base': #db2828,
  ),
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  // do not use same name, it will override.
  $colors: $el-colors
);

@use 'element-plus/theme-chalk/src/index.scss' as *;
@use './custom.scss';
