@forward 'tailwindcss';

@layer base {
  html {
    font-size: 4px;
    @apply whitespace-nowrap;
  }

  body {
    font-size: 16px;
  }

  //:root {
  //  --spacing: 1px;
  //}
}

@layer utilities {
  .bg-primary {
    background-color: var(--el-color-primary);
  }
}
